
      <div class="container">
        <h2>User info</h2>
        
        <% if @user.errors.any? %>
        <%= @user.errors.count %>errors
        <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>
        
        <%= form_with model: @user do |f| %>
          <div for="inputName">Name</div>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
          <div for="inputImage">Image</div>
          <%= f.file_field :profile_image, placeholder:  "inputProfile_image", accept: "images/*" %>  
          <div for="inputIntroduction">Introduction</div>
          <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%>
          <p>
            <button class="btn btn-success, text-light"><%= f.submit "Update User"%></button>
          </p>
        <% end %>
      </div>
