<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
  </head>

  <body>
    <header></header>

    <main>
      <div class="container">
          <div class="row align-items-start">
            
      <div class="col-md-3">
        
        <% if @book.errors.any? %>
        <%= @book.errors.count %>error
        <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        <% end %>

      <h2>User info</h2>
          <p>
            <% if @user.image.attached? %>
              <%= image_tag @user.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'default_image', size: "100x100" %>
            <% end %>
          </p>
          <p>name：<%= @user.name %></p>
          <p>introduction：<%= @user.introduction %></p>
          <li>
            <%= link_to "Edit", edit_user_path(@user.id) %>
          </li>
    
    
          <h2>New book</h2>
            <%= form_with model: @book do |f| %>
          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %>
          <li>
            <%= f.submit 'Creat Book' %>
          </li>
            <% end %>
      </div>

         <div class="offset-md-1"></div>
           <div class="col-md-8">
      <h2>Books</h2>
        <table class="table table-striped">
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
          <% @books.each do |book| %>
            <tr>
             <td>
                <% if book.user.image.attached? %>
                  <%= image_tag book.user.image, size: "100x100" %>
                    <% else %>
                      <%= image_tag 'default_image', size: "100x100" %>
                <% end %>
              </td>
              <td> <%= link_to book.title, book_path(book.id) %> </td>
              <td> <%= book.body %> </td>
            </tr>
          <% end %>
        </table>
        </div>
      </div>
    </main>
  </body>

  <footer>
    <div class="row justify-content-center">
     <p>CopyRight Infratop.inc</p>
    </div>
  </footer>